<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a class="navstart1" href="{{ url_for('home.home') }}">Home</a>
        <a class="navstart2" href="{{ url_for('cart.view_cart') }}">Carrinho</a>
    </nav>
    <div class="cart-container">
        <h1>Seu Carrinho</h1>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor a investir</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td> R${{ item.quantity }}</td>
                    <td>
                        <form action="{{ url_for('cart.remove_from_cart', product_id=item.product.id) }}" method="POST">
                            <button type="submit">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-actions">
            <a href="/">Continuar investindo</a>
        </div>
    </div>
</body>
</html>
